.hero {
  position: relative;
  display: grid;
  align-items: end;
  min-height: calc(100svh - var(--header-full-height));
  color: var(--colour-white);
  isolation: isolate;
}

.heroImage {
  z-index: -2;
  object-fit: cover;
  object-position: 50% 40%;
}

.hero::after {
  content: '';
  position: absolute;
  inset: 0;
  z-index: -1;
  background: linear-gradient(to top, rgb(0 0 0 / 0.75), rgb(0 0 0 / 0.35) 55%, rgb(0 0 0 / 0.1));
}

.heroText {
  padding: var(--space-lg) var(--gutter);
  max-width: var(--content-max);
  width: 100%;
  margin: 0 auto;
}

.heroText h1 {
  font-size: var(--text-2xl);
}

.heroText p {
  font-family: var(--font-serif);
  font-size: var(--text-lg);
  text-transform: uppercase;
}

.body {
  max-width: var(--measure);
  margin: 0 auto;
  padding: var(--space-lg) var(--gutter) 150vh;
}
